body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    margin: 5pt 5pt 5pt 5pt;
    text-align: center;
}

#name {
    font-size: 36pt;
    color: black;
    margin-top: 15%;
    margin-bottom: 2%;
}

#quote {
    font-size: 10pt;
    color: black;
}